@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
    font-family: 'Montserrat',sans-serif;
}

.navbar {
    background-color: #ff0000;
    padding: 10px 10px;
    margin: 0 auto;
    width: 100%;
    border: 0;
    position: fixed;
    color: #fff;
}

.navbar-nav {
    text-align: center;
    color: #fff;
}

.navbar-nav li {
    padding: 0 15px;
}

.navbtn1 {
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.navbtn {
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 2px;
    float: left;
    padding-left: 15px;
}

.navbar-nav a:hover {
    color: #000;
}


.navbar a:hover {
    color: #000;
}


    

/* --------------------- Header */

#home {
    height: 100vh;
    width: 100%;
    background: url(./images/2899.jpg) no-repeat center  fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-heading {
    width: 90%;
    height: 200px;
    text-align: center;
    margin: 50px auto;
    color: #fff;
    padding-top: 200px;
}

.header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}

.container-heading h1 {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.container-heading p {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.btn {
    background-color: #ff0000;
    transition-duration: 0.4s;
    margin: 25px auto;
    border: none;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

/* ------------------------- Event */


#event {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   position: relative;
   height: 100%;
   background-image: url(./images/background5.jpg);
   margin: 0 auto;
   padding: 0;
}


.event-header  {
    border-bottom: 0;
    color: #fff;
    box-shadow: 0 4px 4px #ff0000;
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
}

.event-header h2 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.event-box {
    width: 100%;
    height: 100%;
    margin: 25px auto;
    text-align: center;
}


.event-box ul {
    color: #fff;
    list-style: none;
    height: 100%;
    text-align: center;
    margin:  50px auto;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;

}

.event-box li {
    padding-right: 0;
    padding-bottom: 25px;
    font-size: 100%;
    font-weight: bold;

}

.event-list {
    margin: 0 auto;
}


.event-list i {
    transition: .2s;
    padding: 0 5px;
}

.event-list i:hover {
    transform: scale(1.5);
    color: #ff0000;
}

/* ----------------------------- Music */

#music {
    margin: 50px auto;
    text-align: center;
}

.container-music p {
    width: 90%;
    margin: 0 auto;
}

.rounded-circle {
    box-shadow: 0 7px 7px #ff0000;
    margin-bottom: 30px;
}

.player {
    width: 70%;
    height: 20%;
    margin: 0 auto;
}

.container-music hr {
    width: 25%;
    color: #ff0000;
    border: 3px solid #ff0000;
    margin: 30px auto;
    opacity: 1;


}

/* ------------------------- Gallery */


#gallery {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(./images/background5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.gallery-heading {
    border-bottom: 0;
    letter-spacing: 10px;
    padding-top: 25px;
    color: #fff;
    width: 70%;
    margin: 25px auto;
    text-transform: uppercase;
}

.gallery-heading  h2 {
    padding: 25px 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.gallery-heading hr {
    margin: 0 auto;
    padding: 0;
    height: 5px;
    opacity: 1;
    color: #ff0000;
}
.galleryimage {
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    margin: 0 auto;
}

.galleryimage img {
    width: 90%;
   
}

/* ------------------------- Tickets */

#tickets {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(./images/ticketsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 0;
}

.heading-box {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    color: #fff;
    padding: 15px 0;
    border-bottom: 2px solid white;
    text-transform: uppercase;
    text-align: center;
}

.tickets-box {
    width: 100%;
    height: 100%;
    margin: 35px auto;
    position: relative;
    display: inline;
}


.days {
    margin: 10px auto;
}

.ticket {
    margin: 25px auto;
    width: 90%;
    height: 100%;
    text-align: center;
    border: 2px solid #ff0000;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.795);
}

.ticket li {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.ticket ul {
    color: #fff;
    list-style: none;
    height: 100%;
    text-align: center;
    margin:  20px auto;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;
}

.ticketbtn {
    margin: 10px auto;
    width: 40%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

.ticket-hr {
    width: 25%;
    color: #fff;
    opacity: 1;
    height: 10px;
    margin: 0 auto;
    padding: 0;
}

/* ------------------------- About Us */

#aboutus {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.aboutus-heading {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 25px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus-heading i {
    color: #ff0000;
    padding-top: 10px;

}

.aboutus-heading hr {
    width: 30px;
    color: #ff0000;
    height: 5px;
    opacity: 1;
    padding: 0 20px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;

}

.aboutus-pbox {
    width: 90%;
    margin: 0 auto;
    text-indent: 20px;
    text-align: center;
    border: 2px solid #ff0000;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0 #ff0000;

}

.aboutus-pbox p{
    padding: 15px 0;
}



@media screen and (min-width: 960px) {
    .dj-box {
        width: 50%;
        margin: 0 auto;

    }



    .galleryimage {
        width: 50%;
        display: inline;
        align-items: center;
        justify-content: center;
    }

    .galleryimage img {
        width: 100%;
    }

    .gallery-box {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        
    }
}










