@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    background-image: url(./images/background5.jpg);
    background-position: center;

    
}

.navbar {
    background-color: #ff0000;
    padding: 10px 15px;
    margin: 0 auto;
    width: 100%;
    opacity: 0.7;

}

.nav-link {
          font-weight: 800;    
}

#heading {
    background-image: url(./images/2899.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}


#heading h1 {
    padding: 150px 0 15px;
    height: 300px;
    font-size: 80px;
}


#heading h2 {
    margin: 0 auto;
    padding: 50px 0;
    width: 60%;
    font-size: 50px;
}


.btn {
    background-color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #000;
    transition-duration: 0.4s;
    margin: 0 auto;

}

.btn:hover {
    background-color: #fff;
    color: #000;
    
}
.button2 {
    font-weight: bold;

}

.button3 {
    font-weight: bold;
}



#event {
   margin: 30px auto;
   height: auto;
   color: #fff;
}



#event h2 {
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    align-items: center;
    text-transform: uppercase;

}
#event hr {
    padding: 0 50px;
    width: 50%;
    border: 4px solid #fff;
    margin: 15px auto;
    font-weight: bold;
    
}


.box2 {
    width: 80%;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 5px 5px 2px #ff0000 ;
    height: 500px;
    margin: 25px auto;
    position: relative;
    
}

.box2 ul {
   text-align: center;
   padding: 20px;
}

.box2 li {
    list-style: none;
    font-size: 25px;
    width: 100%;
    height: 50px;
    margin: 15px auto;
}

i {
    transition: .2s;
    padding: 0 5px;
}

i:hover {
    transform: scale(1.5);
    color: #02d0db;
}

#music {
    width: 100%;
    text-align: center;
    margin: 25px auto;
    background-color: #5e5858c4;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 #ff0000;
}

.row-dj {
   width: 100%;
   text-align: center;
   padding: 25px 0;
   margin: 0 auto;
}

.row-dj h2, p {
    padding: 15px 0;
    color: #fff;
    margin: 0 auto;
}

#music hr {
    padding: 0 50px;
    width: 35%;
    border: 4px solid #ff0000;
    margin: 40px auto;
}

.rounded-circle {
    border: 1px solid #ff0000;
    box-shadow: 0 4px 4px 0 #ff0000;

    
}




@media only screen and (max-width: 600px) {

.navbar {
    width: 0 auto;
    padding: 10px 0 ;
}

#heading {
    margin: 0 auto;
    padding: 0;
    max-width: 95%;
}

#heading h1 {
    margin: auto;
    font-size: 35px;
    padding: 400 0 100px 0;
    position: relative;
   
}

#heading h2 {
    margin: 0 auto;
    width: 60%;
    font-size: 25px;
    position: absolute;
    left: 70px;
    top: 150px;
}
   
}


